---
layout: default
title: Home
---

<h2>🔥 Bài nổi bật</h2>

<div class="grid">

  <!-- BÀI LỚN -->
  {% assign first = site.posts.first %}
  <div class="big-card">
    <img src="{{ first.image }}">
    <h2>
      <a href="{{ first.url }}">{{ first.title }}</a>
    </h2>
  </div>

  <!-- BÀI NHỎ -->
  {% for post in site.posts offset:1 limit:3 %}
    <div class="small-card">
      <img src="{{ post.image }}">
      <h3>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h3>
    </div>
  {% endfor %}

</div>

<hr>

<h2>📰 Tất cả bài viết</h2>

<div class="post-list">
  {% for post in site.posts %}
    <div class="post-item">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </div>
  {% endfor %}
</div>